/* font should be in rem 
TODO: Adjust the font-size to rem not pixcels
TODO: The Title must be diffrent for each page

*/

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
body {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(41, 5, 55, 0.7), rgba(41, 5, 55, 0.7)),
    url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav img {
  border-radius: 50%;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 80px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #000;
  background: #000;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 768px) {
  .text-box h1 {
    font-size: 1rem;
  }
  .text-box p {
    font-size: 0.5rem;
  }
  .hero-btn {
    font-size: 0.4rem;
  }
  .nav-links ul li {
    display: block;
    transition: 0.2s;
  }
  .nav-links ul li:hover {
    border-left: 6px solid #330bd4;
  }
  .nav-links ul li::after {
    display: none;
  }
  .nav-links {
    position: absolute;
    background: #410746;
    height: 1000px;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
    display: none;
  }
  nav .fa {
    display: block;
    color: #fff;
    font-size: 1.3rem;
    margin: 10px;
    cursor: pointer;
  }
}

/* section 2 */

.options {
  width: 90%;
  max-width: 1200px; /* Limit width */
  margin: auto; /* Center horizontally */
  text-align: center;
  padding-top: 10vh; /* Adjusted padding using viewport height units */
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

.rows {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.second-row {
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}
.option-row {
  flex-basis: 30%;
  background-color: #827a69;
  border-radius: 40px;
  margin-bottom: 5%;
  padding: 30px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.option-row a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.second-row .option-row {
  flex-basis: 30%;
  background-color: #827a69;
  border-radius: 40px;
  margin-bottom: 5%;
  padding: 30px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.option-row:hover {
  box-shadow: 0 0 20px 0px rgba(67, 6, 158, 0.7);
}

@media (max-width: 700px) {
  .rows,
  .second-row {
    flex-direction: column;
  }
}

/* section 3 */

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.row {
  width: 100%;
  padding: 0px 100px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.campus-col {
  width: 250px;
  position: relative;
  margin: 0 10px;
  transition: 1s;
}
.campus-col img {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: auto;
}
.campus-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.3);
  z-index: 2;
}
.contents {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.contents:hover {
  opacity: 1;
}
.contents h1 {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

/* footer */

footer {
  height: 100%;
  background-color: #71288e;
}

.footer-containter {
  padding: 35px;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  text-decoration: none;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 1.5em;
  color: #410746;
  opacity: 0.9;
}
.social-icons a.facebook i {
  font-size: 1.5em;
  color: #330bd4;
  opacity: 0.9;
}
.social-icons a.youtube i {
  font-size: 1.5em;
  color: #b00;
  opacity: 0.9;
}
.social-icons a:hover {
  background-color: #71288e;
  transition: 0.5s;
}
.social-icons a i:hover {
  color: #fff;
  transition: 0.5s;
}
.social-icons a.facebook i:hover {
  color: #330bd4;
  transition: 0.5s;
}
.social-icons a.youtube i:hover {
  color: #b00;
  transition: 0.5s;
}
.social-icons a.threads i:hover {
  color: #000;
  transition: 0.5s;
}
.footer-bottom {
  padding-top: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .campus-col {
    margin-top: 20px;
  }
}
/* Wifi Page */
.wifi-help {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.wifi-video {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
/* Moodle Page */
.moodle-help {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.moodle-video {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
/* Printing Page */
.printing-help {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.printing-video {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
/* Employee Page */
.employee-help {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.employee-video {
  display: block;
  margin: 0 auto;
  padding: 20px;
}