/* TODO:Change the footer name, ABout us page*/
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  min-height: 100vh; /*100% of the viewport height*/
  width: 100%;
  background-color: #ffc0cb;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 10%;
}

nav img {
  border-radius: 50%;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between; /*Creates a space between the flex boxes*/
  align-items: center;
}

nav img {
  width: 80px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block; /*allows the navigation elements to be displayed inline, side by side, while still respecting the specified margins*/
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #ffffff;
  position: absolute; /*taken out of the normal document flow and can be placed anywhere on the page*/
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* used to move an element along the horizontal and vertical axes(center)*/
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 0.875rem;
  color: #fff;
}

nav .fa {
  display: none;
}

@media (max-width: 768px) {
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-box h1 {
    font-size: 1rem;
  }
  .text-box p {
    font-size: 0.5rem;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links ul li:hover {
    border-left: 6px solid #330bd4;
  }
  .nav-links {
    position: absolute;
    background: #d80a2d;
    height: 1000px;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
    display: none;
  }
  nav .fa {
    display: block;
    color: #000000;
    font-size: 1.3rem;
    margin: 10px;
    cursor: pointer;
  }

  .nav-links ul li:hover::after {
    display: none;
  }
}
/* section 3 */

.clothes {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.row {
  width: 100%;
  padding: 0px 100px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.cloth-col {
  width: 250px;
  position: relative;
  margin: 0 10px;
  transition: 1s;
}

.cloth-col img {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: auto;
}

.cloth-col:hover {
  box-shadow: 0 0 20px 0px rgba(255, 192, 203, 0.5);
  transform: scale(1.3);
  z-index: 2;
}

.contents {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(255, 192, 203, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.contents:hover {
  opacity: 1;
}

.contents h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .campus-col {
    margin-top: 20px;
  }
  .contents{
    opacity: 0.8;
  }
}

/* footer */
footer {
  height: 100%;
  background-color: #ffc0cb;
  border-radius: 10%;
}

.footer-containter {
  padding: 35px;
}

.footer-bottom {
  padding-top: 30px;
  text-align: center;
}
